.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 200px;
    height: 100px;

    border-radius: 5px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content div {
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.attributes input{
    width: 6vw;
    margin-right: 5px;

    outline: none;
    border-radius: 3px;
    border: 1px solid black;
}

.attributes button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.attributes button:hover {
    background-color: rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.4);
    color: white;
}

.attributes button:active {
    background-color: rgba(0,0,0,.2);
}

